<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="<TMPL_VAR NAME="request.uri_base" ESCAPE=HTML>/css/style.css"/>
		<title><TMPL_VAR NAME="title" ESCAPE=HTML><TMPL_IF NAME="title"> - </TMPL_IF><TMPL_VAR NAME="settings.title" ESCAPE=HTML></title>
	</head>
	<body>
		<div id="contents">
			<header>
				<h1><a href="<TMPL_VAR NAME="settings.url">"><TMPL_VAR NAME="settings.title" ESCAPE=HTML></a></h1>
			</header>
			<TMPL_VAR NAME="content">
			<footer>
				Copyright &copy; 2011 risou lab. All Rights Reserved.
				<br/>
				Powered by RRSD
			</footer>
		</div>
	</body>
</html>

